{
	"port" : 8000,
	"__comment" : "loglevel: 0 - Only errors, 1 - Warnings, 2 - Info, 3 - Debug [default if not specified]",
	"loglevel" : 3,
	"clients_allow" : [{
		"ip" : "127.0.0.1"
	},{
		"ip" : "192.168.1.2"
	},{
		"ip" : "192.168.1.3"
	}]
}
